# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore obj directory
obj/*

# Ignore compile files
ifrename
iwconfig
iwevent
iwgetid
iwlist
iwpriv
iwspy

# Include libs directory
!libs/**
